/*Standard css*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

    /*Un-select*/
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

:root {

    --sea-color: #02796B;
    --logo-color: #638E18;
    --red-color:#F43F3F;
    --darkgray-color: rgb(76, 76, 76);
    --background-color:#D9D9D9;

    --transiton-btn-hover: all 400ms ease;

    --footer-main-font:18px;
    --footer-sub-font:16px;

    --footer-small-font:14px;
}

/*Section*/
section{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

/*Navbar*/

nav{
    height: fit-content;
    background: #222328;
}

nav .top{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 0;
    background-color:#313238;
}

nav .top h2{
    font-family:'inter';
    font-weight: 700;
    font-size: 30px;
    color: white;
}

nav .top img{
    width: 40px;
}

nav .bottom{
    text-align: center;
}

nav .bottom .content-wrapper{
    display: block;
    padding: 1rem 8rem;
}

nav .bottom ul{
    display: flex;
    height: 3rem;
    text-align: center;
    gap: 10px;
    justify-content: center;
}

nav .bottom ul li{
    display: flex;
    align-items: center;
    border: solid 1px white;
    padding:0 2rem;
    transition: var(--transiton-btn-hover);
}

nav .bottom ul li a{
    font-family:'inter';
    font-weight: 700;
    font-size: 16px;

    color: white;
}

nav .bottom ul li:nth-child(5),
nav .bottom ul li:hover{
    border-radius: 20px;
}

nav .bottom ul li:nth-child(5),
nav .bottom ul li:nth-child(5):hover{
    background-color: var(--sea-color);
}

nav .bottom ul li:hover{
    background:var(--darkgray-color) ;
}


@media screen and (max-width: 1000px) {

    nav .bottom ul li a{
        font-size: 14px;
    }

    nav .bottom ul li{
        padding:0 1rem;
    }

  }  

  @media screen and (max-width: 800px){
    nav .bottom ul li a{
        font-size: 12px;
    }

    nav .bottom ul li{
        padding:0 1rem;
    }
  }

/*Header Section----------------------*/

#header{
    height: fit-content;
}

#header img{
    display: flex;
    width: 100vw;
    max-height: 25vh;
    object-fit: cover;
    object-position: 0 50%;
}


/* Donate Section */

#donate{
    padding-top: 3rem;
    padding-bottom: 1rem;
    height: fit-content;
}

.wrapper2{
    padding: 0 8rem;
}

#donate .content-wrapper{
   
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#donate .content-wrapper>* {
flex: 1 18rem;
}

#donate .content-head{
    position: relative;
    margin-bottom: 2rem;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
}

#donate .section{
    padding: 1rem;
    background: var(--background-color);
    border-radius: 10px;
}

#donate .sec1 .img{
    min-height: 15rem;
    max-height: 20rem;
    border-radius: 10px;

    background: url(../assets/turtsurg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#donate .sec2 .img{
    min-height: 15rem;
    max-height: 20rem;
    border-radius: 10px;

    background: url(../assets/freeturt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#donate .sec3 .img{
    min-height: 15rem;
    max-height: 20rem;
    border-radius: 10px;

    background: url(../assets/foodturt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#donate .section h3{
    padding-top: 1rem;
    text-align: center;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
}

#donate .section p,
#merch .section p{
    padding: 1rem 1.5rem;
    text-align: center;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
}

#donate .section .input{
    padding: 0 2rem;
}


.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label {
    margin-bottom: 10px;
    padding: 9px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 20px 5px 5px 20px;
    width: fit-content;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
}

#donate input[type="text"] {
    padding: 9px;
    border: 1px solid #ccc;
    border-radius:  5px 20px 20px 5px;;
    width: 100px;
}


input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #ff9d5c;
    color: white;
    border: none;
    cursor: pointer;
    
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #ff7d3c;
}

/* Merchandise Section */

#merch{
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-bottom: 2rem;
    height: fit-content;
}

#merch .content-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#merch .content-wrapper>* {
flex: 1 18rem;
}

#merch .content-head{
    position: relative;
    margin-bottom: 2rem;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
}

#merch .section{
    padding: 1rem;
    background: var(--background-color);
    border-radius: 10px;
}

#merch .sec1 .img{
    min-height: 15rem;
    max-height: 20rem;
    border-radius: 10px;

    background: url(../assets/strawturt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#merch .sec2 .img{
    min-height: 15rem;
    max-height: 20rem;
    border-radius: 10px;

    background: url(../assets/tshirtturt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#merch .sec3 .img{
    min-height: 15rem;
    max-height: 20rem;
    border-radius: 10px;

    background: url(../assets/tagturt.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#merch .section h3{
    padding-top: 1rem;
    text-align: center;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
}


#merch .section .input{
    padding: 0 2rem;
}


#merch label {
    text-align: center;
    margin-bottom: 10px;
    padding: 9px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: fit-content;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
}


#merch input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color:#02796ba8;
    color: white;
    border: none;
    cursor: pointer;
    
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
}

#merch input[type="submit"]:hover {
    background-color:#02796B;
}


/*Footer------------------------------*/

footer{
    background: #222328;
    border-radius: 10px 10px 0px 0px;
    padding-top: 1rem;
    overflow-x: hidden;
}

/*Footer top section*/

footer .top{
    display: flex;
    flex-direction: row;
}

footer .left{
    padding-left:30px ;
    background:none;
}

footer .right{
    padding-left: 30px;
    gap: 50%;
    display: flex;
    flex-direction: row;
}

.footer-img{
    background: none;
    width: 90px;
}



/*Right Sections with subsections*/

footer .top .right .sec1{
    display: grid;
    grid-template-rows: repeat(2, 55px);
    margin-top: 20px;
    margin-left: 150px;
}

footer .top .right .sec1 a{  
    font-family:'inter';
    font-weight: 700;
    font-size: var(--footer-main-font);
    color: #ffffff;
    transition: var(--transiton-btn-hover);
}

footer .top .right .sec1 a:hover{  
    color:var(--logo-color);
}

footer .top .right .sec2{
    display: grid;
    grid-template-rows: repeat(2, 20px);
    width: 0rem;
    transform: translate(-45px);
    margin-top: 20px;
    gap: 15px;
}

footer .top .right .sec2 a{
    font-family:'inter';
    font-weight: 700;
    font-size: var(--footer-main-font);
    color: #ffffff;
    transition: var(--transiton-btn-hover);
}

footer .top .right .sec2 a:hover{
    color: var(--logo-color);
}

footer .top .right .sec2 .sub-sec2{
    display: grid;
    grid-template-rows: repeat(2, 20px);
    width: 10rem;
    gap: 5px;
}

footer .top .right .sec2 .sub-sec2 a{
    font-family:'inter';
    font-weight: 400;
    font-size: var(--footer-sub-font);
    color: #ffffff;
    transition: var(--transiton-btn-hover);
}

footer .top .right .sec2 .sub-sec2 a:hover{
    text-decoration: underline;
}

footer .top .right .sec3{
    display: grid;
    grid-template-rows: repeat(2, 20px);
    width: 30rem;
    margin-top: 20px;
    gap: 15px;
}

footer .top .right .sec3 a{
    font-family:'inter';
    font-weight: 700;
    font-size: var(--footer-main-font);
    color: #ffffff;
    transition:var(--transiton-btn-hover) ; 
}

footer .top .right .sec3 a:hover{
    color: var(--logo-color);
}

footer .top .right .sec3 .sub-sec3{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 18rem;
    gap: 5px;
}

footer .top .right .sec3 .sub-sec3 a{
    font-family:'inter';
    font-weight: 400;
    font-size: var(--footer-sub-font);
    color: #ffffff;
    transition: var(--transiton-btn-hover);
}

footer .top .right .sec3 .sub-sec3 a:hover{
    text-decoration: underline;
}

/*Footer bottom section*/

footer .bottom{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;

    font-family:'inter';
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
}

/*Media queries*/

@media screen and (max-width: 1470px) {

    /* Footer Section */

    footer .top .right .sec1{
        margin-left: 80px;
    }
  }

  @media screen and (max-width: 1225px) {

    /* Footer Section */
 
    footer .top .right .sec1{
        margin-left: 40px;
    }

    footer .top .right .sec1 a,
    footer .top .right .sec2 a,
    footer .top .right .sec3 a{  
        font-size: var(--footer-sub-font);
    }

    footer .top .right .sec2 .sub-sec2 a,
    footer .top .right .sec3 .sub-sec3 a{
        font-size: var(--footer-small-font);
    }

  }

  @media screen and (max-width: 1050px) {

    /* Footer Section */

    footer .top .right .sec1{
        margin-left: 20px;
    }

    footer .top .right .sec2{
        transform: translate(-80px);
    }

    footer .top .right .sec3{
        width: 25rem;
    }

    .footer-img{
        background: none;
        width: 75px;
    }
  }

  @media screen and (max-width: 925px) {

    /* Footer Section */

    .footer-img{
        background: none;
        width: 60px;
    }


    footer .top .right .sec1{
        grid-template-rows: repeat(2, 100px);
    }

    footer .top .right .sec2{
        transform: translate(20px);
    }

    footer .top .right .sec3{
      transform: translate(-220px,100px);
    }

    footer{
        height: 43vh;
    }

    
footer .bottom{
    padding-bottom: 20px;
    padding-top: 40px;
}

  }

  
  @media screen and (max-width: 736px) {

    .wrapper2{
        padding: 0 4rem;
    }

    /* Footer Section */

    footer .top .right .sec1{
        grid-template-rows: repeat(2, 100px);
    }

    footer .top .right .sec2{
        transform: translate(-160px);
    }

    footer .top .right .sec3{
      transform: translate(-400px,100px);
    }
  }

  
  @media screen and (max-width: 500px){

    /* content section */

    .wrapper2{
        padding: 0 2rem;
    }
    
    /* Footer */

    footer .top .right .sec1{
        grid-template-rows: repeat(2, 80px);
    }

    footer .top .right .sec2{
        transform: translate(-215px);
    }

    footer .top .right .sec3{
      transform: translate(-450px,100px);
    }

    footer .left{
        padding-left:10px ;
    }
    .footer-img{
        width: 40px;
    }

    footer .bottom{
        padding-bottom: 5px;
        margin-top: 40px;
    }

    /* nav section */

    nav .bottom ul li a{
        font-size: 10px;
    }

    nav .bottom ul li{
        padding:0 10px;
    }

    nav .bottom ul li:nth-child(1),
    nav .bottom ul li:hover{
    border-radius: 10px;
}
  }