

/*Rolling text line*/

.new1 {
    border-top: 4px solid rgb(0, 0, 0);
  }

/*Rolling text*/

.roll-text{
    font-family: 'Amarante';
    font-weight: 400;
    font-size: 40px;
    padding: 10px;
    padding-left: 20px;

    color: #000000;
    text-align: left;
    display: flex;
   
}

.slider{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 60px;
    line-height: 100px;

    color:var(--sea-color);

    transform: translate(20px , -10px);

    animation: slider 10s linear infinite;

    /*keeping the zindex less than the background*/
    z-index: -2;

}

/*keyframes for the slider menu*/
@keyframes slider{
    0%{margin-top:  -420px;}
    5%{margin-top: -220px;}
    30%{margin-top: -220px;}
    35%{margin-top: -120px;}
    65%{margin-top: -120px;}
    70%{margin-top: -23px;}
    100%{margin-top: -23px;}
}

/*Media queries for the slider menu*/

@media screen and (max-width: 720px) {
    .roll-text{
        font-size: 39px;
    }

    .slider{
        font-size: 58px;
    }
  }

  /*From the home page***********************************/